# Ignore all files and directories by default
#*

# Do not ignore the report.py file
!report.py

# Ignore specific files
*.log
*.tmp
*.bak
*.spec

# Ignore specific directories
__pycache__/
myenv/
myenv_3.12.7/
dist/
build/